.main-header {
  padding: 24px 0 14px 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;

  .main-header__socials {
    display: none;
  }

  .main-header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-header__col {
    &.main-header__col--opened {
      .main-header__logo {
        &.main-header__logo--yellow {
          display: none;
        }

        &.main-header__logo--black {
          display: block;
        }
      }
    }
  }

  .main-header__logo {
    height: $main-header-logo-height;

    &.main-header__logo--black {
      display: none;
    }
  }

  .main-header__burger {
    border: none;
    padding: 0;
    margin: 0;
    background: none;

    &.main-header__burger--opened {
      .main-header__burger-icon {
        &.main-header__burger-icon--open {
          display: none;
        }

        &.main-header__burger-icon--close {
          display: block;
        }
      }
    }

    .main-header__burger-icon {
      width: $main-header-burger-icon-size;
      height: $main-header-burger-icon-size;

      &.main-header__burger-icon--close {
        display: none;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-sm) {
  .main-header {
    .container {
      max-width: 100%;
    }
  }
}

@media screen and (min-width: $breakpoint-md) {
  .main-header {
    .container {
      max-width: 100%;
    }

    .main-header__col {
      &.main-header__col--right {
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    .main-header__socials {
      display: flex;
      align-items: center;

      .main-header__social-link {
        text-decoration: none;
      }

      .main-header__social-icon {
        margin: 0 16px;
      }
    }
  }
}