/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
  position: relative;
}

.badge {
  width: 8px;
  height: 8px;
  background-color: #E3B2AE;
  display: inline-block;
  border-radius: 100px;
}

@media screen and (min-width: 560px) {
  .container {
    max-width: 400px;
  }
}
body {
  font-family: "Inter", sans-serif;
  color: #000000;
  font-size: 14px;
}

.main-header {
  padding: 24px 0 14px 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}
.main-header .main-header__socials {
  display: none;
}
.main-header .main-header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header .main-header__col.main-header__col--opened .main-header__logo.main-header__logo--yellow {
  display: none;
}
.main-header .main-header__col.main-header__col--opened .main-header__logo.main-header__logo--black {
  display: block;
}
.main-header .main-header__logo {
  height: 41px;
}
.main-header .main-header__logo.main-header__logo--black {
  display: none;
}
.main-header .main-header__burger {
  border: none;
  padding: 0;
  margin: 0;
  background: none;
}
.main-header .main-header__burger.main-header__burger--opened .main-header__burger-icon.main-header__burger-icon--open {
  display: none;
}
.main-header .main-header__burger.main-header__burger--opened .main-header__burger-icon.main-header__burger-icon--close {
  display: block;
}
.main-header .main-header__burger .main-header__burger-icon {
  width: 40px;
  height: 40px;
}
.main-header .main-header__burger .main-header__burger-icon.main-header__burger-icon--close {
  display: none;
}

@media screen and (min-width: 560px) {
  .main-header .container {
    max-width: 100%;
  }
}
@media screen and (min-width: 720px) {
  .main-header .container {
    max-width: 100%;
  }
  .main-header .main-header__col .main-header__logo {
    height: 80px;
  }
  .main-header .main-header__col.main-header__col--right {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main-header .main-header__socials {
    display: flex;
    align-items: center;
  }
  .main-header .main-header__socials .main-header__social-link {
    text-decoration: none;
  }
  .main-header .main-header__socials .main-header__social-icon {
    margin: 0 16px;
  }
}
@media screen and (min-width: 1280px) {
  .main-header .container {
    max-width: 1280px;
  }
}
.main-nav {
  display: none;
  width: 100%;
  margin-top: 40px;
}
.main-nav::before {
  content: "";
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.main-nav.main-nav--opened {
  display: block;
}
.main-nav .main-nav__nav .main-nav__nav-item {
  margin-bottom: 24px;
}
.main-nav .main-nav__nav .main-nav__nav-item .main-nav__nav-link {
  color: #000000;
  font-size: 22px;
  font-weight: 500;
  text-decoration: none;
}
.main-nav .main-nav__footer {
  position: fixed;
  right: 24px;
  bottom: 24px;
  left: 24px;
}
.main-nav .main-nav__footer .main-nav__footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-nav .main-nav__footer .main-nav__footer-link {
  opacity: 0.3;
  text-decoration: none;
  color: #000000;
}
.main-nav .main-nav__socials {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-nav .main-nav__socials .main-nav__social-link {
  text-decoration: none;
}
.main-nav .main-nav__socials .main-nav__social-icon {
  margin: 0 16px;
}

@media screen and (min-width: 720px) {
  .main-nav {
    width: 50%;
    margin-left: auto;
    padding-left: 40px;
  }
  .main-nav::before {
    left: 50%;
  }
  .main-nav .main-nav__footer {
    left: calc(50% + 40px);
  }
  .main-nav .main-nav__footer .main-nav__footer--left {
    display: none;
  }
}
@media screen and (min-width: 720px) {
  .main-content .main-content__row {
    display: flex;
    align-items: stretch;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    padding: 0 24px;
  }
  .main-content .main-content__row .main-content__col {
    width: 50%;
    position: relative;
  }
  .main-content .main-content__row .main-content__col.main-content__col--left {
    padding-right: 24px;
    box-sizing: border-box;
  }
  .main-content .main-content__row .main-content__col.main-content__col--left::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #E3B2AE;
    z-index: -1;
    margin-left: calc(100% - 50vw);
    margin-right: 24px;
  }
  .main-content .main-content__row .main-content__col.main-content__col--left .post .post__image-container {
    margin-right: -24px;
  }
  .main-content .main-content__row .main-content__col.main-content__col--right {
    padding-left: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .main-content .container {
    max-width: 1200px;
  }
  .main-content .main-content__row {
    margin-left: 0;
    margin-right: 0;
  }
}
.post {
  position: relative;
}
.post.post--sticky {
  padding-top: 80px;
  padding-bottom: 62px;
}
.post.post--sticky:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #E3B2AE;
  z-index: -1;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}
.post.post--video:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background: #E3B2AE;
  z-index: -1;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  height: 272px;
}
.post.post--default {
  margin-top: 47px;
}
.post.post--default .post__title-container .post__title {
  font-size: 14px;
  line-height: 20px;
}
.post.post--big {
  margin-top: 40px;
}
.post.post--big .post__image-container {
  margin-top: 16px;
}
.post .post__row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.post .post__row .post__col-left {
  width: 66.6666666667%;
  padding-right: 16px;
}
.post .post__row .post__col-right {
  width: 33.3333333333%;
}
.post .post__row .post__image-container {
  margin-right: calc((50% * 100 / 33.3333333333) - 50vw);
}
.post .post__image-container {
  margin-right: calc(50% - 50vw);
}
.post .post__image-container .post__image {
  width: 100%;
}
.post .post__float {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px 0 24px 24px;
}
.post .post__play {
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.post .post__play .post__play-icon {
  margin-right: 13px;
  width: 14px;
  height: 14px;
}
.post .post__play .post__play-text {
  font-size: 16px;
}
.post .post__title-container {
  margin-top: 16px;
  margin-bottom: 9px;
}
.post .post__title-container .post__title {
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
}
.post .post__meta-container .post__meta-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post .post__meta-container .post__meta-tag {
  opacity: 0.4;
  text-decoration: underline;
}
.post .post__meta-container .post__meta-date {
  opacity: 0.4;
  color: #E3B2AE;
}

@media screen and (min-width: 560px) {
  .post .post__row .post__image-container {
    margin-right: 0;
  }
  .post .post__image-container {
    margin-right: 0;
  }
}
@media screen and (min-width: 720px) {
  .post.post--sticky:before {
    display: none;
    margin-left: 0;
    margin-right: 0;
  }
  .post.post--video:before {
    display: none;
    margin-left: 0;
    margin-right: 0;
  }
  .post .post__row .post__image-container {
    margin-right: calc(50% * 100 / (50 / 3) - 50vw + 24px);
  }
  .post .post__image-container {
    margin-right: calc(50% * 100 / 50 - 50vw + 24px);
  }
}
@media screen and (min-width: 1280px) {
  .post.post--big {
    margin-right: auto;
    margin-left: auto;
    max-width: 420px;
  }
  .post .post__row .post__image-container {
    margin-right: 0;
  }
  .post .post__image-container {
    margin-right: 0;
  }
}
.newsletter {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  background-color: #FFFF93;
  margin-top: 40px;
  padding: 56px 0;
}
.newsletter .container {
  max-width: 240px;
  padding: 0;
}
.newsletter .newsletter__title {
  font-size: 32px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newsletter .newsletter__title .newsletter__title-image {
  margin: 0 2px;
  margin-bottom: -2px;
}
.newsletter .newsletter__input-container {
  margin-top: 16px;
  position: relative;
}
.newsletter .newsletter__input-container .newsletter__input {
  width: 100%;
  background-color: #F9F0EF;
  width: 100%;
  border: none;
  text-align: center;
  font-size: 14px;
  padding: 9px 12px;
  box-sizing: border-box;
}
.newsletter .newsletter__input-container .newsletter__input::placeholder {
  color: #000000;
}
.newsletter .newsletter__button-container {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.newsletter .newsletter__button-container .newsletter__button {
  border: none;
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 8px 16px;
}
.newsletter .newsletter__hand {
  position: absolute;
}
.newsletter .newsletter__hand.newsletter__hand-one {
  transform: rotate(-30deg);
  left: 23px;
  bottom: -50%;
}
.newsletter .newsletter__hand.newsletter__hand-two {
  transform: rotate(160deg);
  right: 8px;
  top: -40%;
}
.newsletter .newsletter__hand.newsletter__hand-three {
  left: 50%;
  top: 50%;
  transform: rotate(10deg) translateX(-40%) translateY(-40%);
}
.newsletter .newsletter__socials {
  margin-top: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newsletter .newsletter__socials .newsletter__social-link {
  text-decoration: none;
}
.newsletter .newsletter__socials .newsletter__social-icon {
  margin: 0 16px;
}

@media screen and (min-width: 720px) {
  .newsletter {
    margin-left: calc(-48px - 50vw);
    margin-right: calc((50% * 100 / 50) - 50vw + 24px);
  }
}
.main-footer {
  padding: 40px 0;
  text-align: center;
}
.main-footer .main-footer__logo-container {
  position: relative;
}
.main-footer .main-footer__logo-container .main-footer__loader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=index.css.map */
