$post-title-font-size: 22px;
$post-play-icon-size: 14px;
$post-play-font-size: 16px;
$post-video-background-height: 272px;
$post-col-left-size: calc(100% / 3 * 2);
$post-col-right-size: calc(100% / 3 * 1);
$post-col-right-size-unit: calc(100 / 3 * 1);