.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 $padding-small;
  position: relative;
}

@media screen and (min-width: $breakpoint-sm) {
  .container {
    max-width: $container-sm-width;
  }
}